# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.build/
.macos/
windows/
linux/
web/
generated/
.idea/
*.iml
*.apk
*.ipa
*.app.dSYM

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/captures/
android/app/src/debug/
android/app/src/profile/
android/app/src/main/obj/
android/app/src/main/gen/
android/app/src/main/jniLibs/
android/app/build/
android/gradle/wrapper/gradle-wrapper.properties
android/local.properties
android/.idea/

# iOS
ios/Flutter/.generated/
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework/
ios/Flutter/Flutter.podspec.json
ios/Flutter/Generated.xcconfig
ios/.dart_tool/
ios/Runner.xcworkspace/
ios/Podfile.lock
ios/Podfile

# Dart
*.log
*.lock
pubspec.lock

# VS Code
.vscode/

# Build output directories
build/

/lib/common/config/firebase/firebase_options.dart
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
/macos/Runner/GoogleService-Info.plist
